* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf'),url('../fonts/Roboto-Light.ttf'), url('../fonts/Roboto-Bold.ttf') format('svg');

}

body{
    grid-auto-flow: column;
}

.promo{
    min-height: 1080px;
    background: url(../img/bg/main_bg.jpg)center center/ cover no-repeat;
    padding: 38px 0 59px 0;
}

.promo2 {
    background-color: 000000;
}

.logo .logo_img {
    margin: 0 auto;
    display: block;
}

.logo .logo_text {
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #FFFFFF;
}

hr {
    width: 292px;
    height: 2px;
    background: #fff;
    margin-top: 70px;
}

.poloska {
    display: flex;
}

.title {
    margin-top: 52px;
    text-align: center;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900px;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 21px;
}

h2.title {
    margin-top: 21px;
}

.title_main {
    margin-top: 21px;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 1140px;
    position: relative;
}

.promo .promo_text {
    margin-top: 21px;
    font-weight: 300;
    font-size: 21px;
    font-family: Roboto;
    color: #FFFFFF;
    font-style: normal;
    align-items: center;

}

.promo .promo_text span {
    color:#F9BF3B;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    width: 313px;
    height: 73px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #000000;
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.40);
    cursor: pointer;
}

.more {
    margin-top:71px;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.more .more_text {
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.text2 {
    margin-top: 100px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #525252;
}

.line {
    margin-left: 450px;
    fill: #f9bf3b;
}

.ttext {
    margin-top: 30px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 23px;
    line-height: 87%;
    text-align: center;
    color: #4a4a4a;
}



.promo2_text {
    display: flex;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    color: #4a4a4a;
    max-width: 340px;
}



.flex {
    display: flex;
    margin-top: 40px;
}

.flex1 {
    margin-right: 50px;
}

.promo_text_2 {
    font-family: "Roboto";
    text-align: center;
}

.a3_text{
    font-family: "Roboto";
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: #299cbd;
}

.b3_text {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    line-height: 159%;
    color: #4a4a4a;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

.b3_text2 {
    font-weight: 700;
    font-family: "Roboto";
    font-size: 17px;
    line-height: 159%;
    color: #4a4a4a;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

.promo33{
    /* margin-left: 900px; */
    /* /* max-height: 547px; */
    max-width: 800px;
    float: left;
    z-index: 2;
    margin-left: 780px;
    
}

.sect3{
    margin-top: 108px;
    /* display: flex;
    float: right; */
    max-width: 1920px;
    height: 520px;
}

.woman{
    z-index: -1;
    position: absolute;
    margin-left: 150px;
    
}

.section4 {
    padding: 50px 20px;
    text-align: center;
    background: url(../img/bg/second_bg.jpg)center center/ cover no-repeat;
  }
  
  .contain {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sect_4text {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Roboto';
  }
  
  .hhrr2 {
    width: 217px;
    height: 4px;
    background: #f9bf3b;
    margin: 20px auto;
  }

.one{
    height: 180px;
    width: 180px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 17px;
    line-height: 118%;
    text-align: center;
    color: #efefef;
}

  .skill-item{
    width: 100px; 
    height: 100px;
    background: #83A7C9;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 40px;
  }

  .imagess{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

.container5{
    font-family: "Roboto";
    width: 1922px;
    height: 631px;
    background-color: #efefef;
    text-align: center;
    display: grid;
  place-items: center;
    
   
}

.soderj{
    max-width: 1120px;
    font-weight: 400;
    font-size: 30px;
    line-height: 143%;
    text-align: center;
    color: #252525;
}

.promo_btn2{
    width: 313px;
    height: 72px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 21px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.container6{
    font-family: "Roboto";
    width: 1922px;
    height: 631px;
    text-align: center;
    display: grid;
    place-items: center;  
}

.text22{
    margin-top: 20px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #252525;
}

.text222{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 900;
font-size: 36px;
line-height: 100%;
text-transform: uppercase;
text-align: center;
color: #299cbd;
}

footer{
    width: 1922px;
    height: 50px;
    background-color: #252525;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
    font-family: "Roboto";
}